<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="UTF-8">
      <title> Confronto Fatture | Fareconsulenza s.r.l </title>
      <link rel="stylesheet" href="../static/css/confronto.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <div class="container">
         <div class="title">Risparmio in euro €</div>
         <div class="content">
            <form action="confronto/dati" method="post">
               <div class="user-details">
                  <div class="input-box">
                     <span class="details">F1</span>
                     <input type="text" name="euro_f1" value="{{risparmio_euro_f1}} €" readonly required>
                  </div>
                  <div class="input-box">
                     <span class="details">F2</span>
                     <input type="text" name="euro_f2" value="{{risparmio_euro_f2}} €" readonly required>
                  </div>
                  <div class="input-box">
                     <span class="details">F3</span>
                     <input type="text" name="euro_f3" value="{{risparmio_euro_f3}} €" readonly required>
                  </div>
                  <div class="input-box">
                     <span class="details">Totale</span>
                     <input type="text" name="euro_totale" value="{{risparmio_euro_totale}} €" readonly  required>
                  </div>
                  <div class="input-box"></div>
                  <div class="input-box"></div>
                  <div class="input-box"></div>
                  <br>
                  <div class="title">Risparmio in percentuale %</div>
                  <div class="input-box"></div>
                  <div class="input-box"></div>
                  <div class="input-box"><br>
                     <span class="details">F1</span>
                     <input type="text" name="percentuale_f1" value="{{risparmio_percentuale_f1}} %" readonly required>
                  </div>
                  <div class="input-box"><br>
                     <span class="details">F2</span>
                     <input type="text" name="percentuale_f2" value="{{risparmio_percentuale_f2}} %" readonly required>
                  </div>
                  <div class="input-box"><br>
                     <span class="details">F3</span>
                     <input type="text" name="percentuale_f3" value="{{risparmio_percentuale_f3}} %" readonly required>
                  </div>
                  <div class="input-box"><br>
                     <span class="details">totale</span>
                     <input type="text" name="percentuale_totale" value="{{risparmio_percentuale_totale}} %" readonly required>
                  </div>
               </div>
               <div class="button">
                  <input type="submit" value="SCARICA PDF">
               </div>
            </form>
         </div>
      </div>
   </body>
</html>