<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="UTF-8">
      <title> Confronto Fatture | Fareconsulenza s.r.l </title>
      <link rel="stylesheet" href="../static/css/pod.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <div class="container">
         <div class="title">Quanti sono i POD?</div>
         <div class="content">
            <form action="calcolo" method="post">
               <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
               <div class="user-details">
                  <div class="input-box">
                     <input type="number" min="1" name="numero_pod" placeholder="Numero POD" autocomplete="off" required>
                  </div>
               </div>
               <div class="button">
                  <input type="submit" value="CONFRONTA">
               </div>
            </form>
         </div>
      </div>
   </body>
</html>